 *{
	margin:0;
	padding:0;
}
body{
	font-size:62.5%;
	background-image:url(../img/bgfive.jpg);
	background-repeat:no-repeat;
}
.head-title{
	width:100%;
	height:5rem;
	text-align:center;
				
}
.head-title p{
	font-size:2rem;
	color:white;
	vertical-align:center;
	margin-top:1rem;
}
			
.body-box{
	margin:1% 20%;
	width:60%;
	height:96%;
	float:left;
}
.body-box .task{
	width:20%;
	background-color:rgba(0,0,0,0.1);
	float:left;
	padding:6% 1%;
	margin:1%;
	border-radius:10px;
	text-align:center;
	font-size:2rem;
}
.body-box .task a{
	text-decoration:none;
	color:red;
}
.task:hover{
	transform: rotateZ(360deg);
	transition: 2s;
	background-color:green;
}