*{
	margin:0;
	padding:0;
}
.box{
	margin:5% 20%;
	width:60%;
	height:90%;
}
.box .box_item{
	width:28%;
	background-color:yellow;
	border:1px solid red;
	float:left;
	padding:15% 1%;
	margin:1%;
	border-radius:10px;
}