body{
	/*width: 100%;
	max-width: 780px;*/
	background-color: #68cdd5;
}
.header>img {
	display: inline-block;
	width: 10%;
	margin-left: 5%;
}

.main>.contenttitle{
	text-align: center;
	padding-top: 10%;
}

.main>.contenttitle>img {
	width: 50%;
	margin: 0 10%;
}

.main>.contenttext {
	margin: 10% 10% 0 10%;
}

.main>.contenttext {
	text-align: center;
	color: white;
	line-height: 2rem;
	font-size: 1.5rem;
}

.footer{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 10%;
	padding-bottom: 10%;
}