  .header{
           		background-color: #B0E2FF;
           		height: 50px;
              position: relative;
           }
           .header .headerleft{
           		height: 50px;
           		font-size: 1.5rem;
           		color: white;
           		line-height: 50px;
              left: 2%;
              position: absolute;
           }
            .header .headercenter{
           		height: 50px;
              font-size: 1.5rem;
              color: white;
              left: 50%;
              position: absolute;
              line-height: 50px;
           }

            .header .headerright{
           		height: 50px;
              font-size: 1.5rem;
              color: white;
              right: 2%;
              position:absolute;
              line-height: 50px;
           }