  .header{
           		background-color: #B0E2FF;
           		height: 50px;
           		position: relative;
           }
           .header .headerleft{
           		height: 20px;
           		font-size: 1.5rem;
           		color: white;
           		position: absolute;
           		top: 50%;
           		margin-top: -10px;
           		left: 2%;
           }
            .header .headercenter{
           		height: 20px;
           		font-size: 1.5rem;
           		color: white;
           		position: absolute;
           		top: 50%;
           		margin-top: -10px ;
           		left: 50%;
           		
           }

            .header .headerright{
           		height: 20px;
           		font-size: 1.5rem;
           		color: white;
           		position: absolute;
           		top: 50%;
           		margin-top: -10px;
           		right: 2%;
           }